* {
    box-sizing: border-box;
    margin: 0;
}
main {
    flex: 1;
}
body {
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    color: var(--a-color-light);
    transition: color var(--a-transition-duration-color);
}
a:hover {
    color: var(--a-color-light-hover);
}
a:active,
a:focus {
    color: var(--a-color-light-active);
}
ul {
    padding: 0;
}
/* li {
    list-style: none;
    background-color: var(--bg-color-dark);
} */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.panel {
    color: var(--color-light);
    background-color: var(--bg-color-dark);
}
:root{
    font-size: 20px;
}