header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.game-card-view {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.game-card {
    border-style: solid;
    padding: 5px;
    text-align: center;
    /* transition-property: scale; */
    transition-duration: 0.3s;
    width: 300px;
    color: var(--text-color-dark);
}
.game-card:hover {
    scale: 1.01;
}
.game-card img {
    width: 100%;
    border-radius: 10px;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
}
.pc-screen-border {
    border-style: solid;
    border-width: 32px;
    border-image-slice: 16 16 16 16 fill;
    border-image-width: 16px 16px 16px 16px;
    border-image-repeat: round;
    border-image-source: url(/assets/border-pc-screen.png);
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
}
.cloud-border {
    border-style: solid;
    border-width: 32px;
    border-image-slice: 16 16 16 16 fill;
    border-image-width: 32px 32px 32px 32px;
    border-image-repeat: round;
    border-image-source: url(/assets/border-cloud.png);
    color: rgb(0, 0, 0);
}
.nature-border {
    border-style: solid;
    background-color: transparent;
    border-width: 32px 16px 16px 16px;
    border-image-slice: 32 16 16 16 fill;
    border-image-width: 32px 16px 16px 16px;
    border-image-repeat: round;
    border-image-source: url(/assets/border-nature.png);
    color: rgb(255, 216, 180);
}
#aboutMeContainer {
    border-width: 80px 40px 40px 40px;
    border-image-width: 80px 40px 40px 40px;
    min-height: 500px;
    padding: 10px;
}
#projectsContainer {
    border-width: 80px 80px 80px 80px;
    border-image-width: 80px 80px 80px 80px;
    min-height: 500px;
    padding: 10px;
}
#articlesContainer {
    border-width: 80px 80px 80px 80px;
    border-image-width: 80px 80px 80px 80px;
    min-height: 500px;
    padding: 10px;
}
#aboutMeButton, #projectsButton, #articlesButton {
    min-width: 300px;
    min-height: 100px;
    border-radius: 15px;
}
.tabButtonActive {
    scale: 1.02;
    background-color: white;
}
.tabButtonInactive {
    scale: 0.98;
    background-color: gray;
}
#navButtonContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}