main {
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-size: var(--main-font-size);
    background-color: var(--main-bg-color);
    padding: 10px;
    border-style: dashed;
}
header {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
