main {
    width: var(--main-w);
    margin: auto;
    font-size: var(--main-font-size);
    background-color: var(--main-bg-color);
    padding: 10px;
    border-style: dashed;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
}
body {
    background-image: url("assets/bg.png");
    background-size: 300px 300px;
}
h1 {
    text-align: center;
}