:root {
    --body-bg-color: rgb(229, 242, 253);
    --main-bg-color: rgb(197, 227, 253);
    --text-color: rgb(0, 0, 0);
    --selection-bg-color: rgb(100, 183, 255);
    --selection-color: rgb(33, 64, 92);
    --link-color: rgb(13, 134, 240);
    --main-font-size: 1.1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: rgb(20 29 37);
        --main-bg-color: rgb(27, 42, 58);
        --text-color: rgb(233, 243, 253);
        --link-color: rgb(121, 192, 255);
    }
}
/* @media screen and (max-width: 800px) {
    :root {
        --main-font-size: 0.75rem;
    }
} */