:root {
    --body-bg-color: rgb(229, 242, 253);
    --main-bg-color: rgb(197, 227, 253);
    --main-font-size: 1.1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        
    }
}
@media screen and (max-width: 800px) {
    :root {
        --main-font-size: 0.75rem;
    }
}