canvas {
    cursor: none;
}

span:has(> canvas) {
    box-sizing: content-box;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    border-top-color: aliceblue;
    border-left-color: aliceblue;
    border-right-color: aliceblue;
    border-bottom-color: aliceblue;
}
#explanation {
    background-color: var(--bg-color-hard);
    color: white;
}
